<body style="background-color: black; color: white;">
<header class="header">
      <%= image_tag "logo.png", class: "logo", alt: "Cloudwalk" %>
</header>

<main class="d-flex flex-column align-items-center justify-content-center">
  <div class="text-center w-50">
    <h1 class="my-4">Import your Transaction CSV</h1>
      <%= form_with(url: import_transactions_path, local: true, method: :post, multipart: true) do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import CSV" %>
      <% end %>
  </div>

<h1>Approved Transactions</h1>
<div id="approved-transactions-chart">
  <%= column_chart(@approved_transactions.group_by_hour_of_day(:timestamp, format: "%k").sum(:count)) %>
</div>

<h1>Processing Transactions</h1>
<div id="processing-transactions-chart">
  <%= column_chart(@processing_transactions.group_by_hour_of_day(:timestamp, format: "%k").sum(:count)) %>
</div>

<h1>Alert Transactions</h1>
<div id="alert-transactions-chart">
  <%= column_chart(@alert_transactions.group_by_hour_of_day(:timestamp, format: "%k").sum(:count)) %>
</div>

<h1>Anomalous Transactions</h1>
<div id="anomalous-transactions-chart">
  <%= column_chart(@anomalies.group_by_hour_of_day(:timestamp, format: "%k").sum(:count)) %>
</div>

