<h1>Choose the file to moniter</h1>
<%= form_with(url: import_transactions_path, local: true, method: :post, multipart: true) do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import CSV" %>
<% end %>

<h1>Approved Transactions</h1>
<div id="approved-transactions-chart">
  <%= pie_chart(@approved_transactions_count) %>
</div>

<h1>Processing Transactions</h1>
<div id="processing-transactions-chart">
  <%= pie_chart(@processing_transactions_count) %>
</div>

<h1>Alert Transactions</h1>
<div id="alert-transactions-chart">
  <%= pie_chart(@alert_transactions_count) %>
</div>

<h1>Anomalous Transactions</h1>
<div id="anomalous-transactions-chart">
  <%=  pie_chart(@anomalous_transactions) %>
</div>
